<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <setting id="Secret" type="text" label="Secret_OAuth" default="" visible="false" />
  <setting id="Key" type="text" label="Key_OAuth" default="" visible="false" />
  
  <setting type="lsep" label="5021" /> 
  <setting id="MusicTweet" type="text" label="5010" default="Listening to %ARTISTNAME% - %SONGTITLE% (%ALBUMTITLE%)"/> 
  <setting id="MovieTweet" type="text" label="5011" default="Watching %MOVIETITLE% (%MOVIEYEAR%)"/> 
  <setting id="TVShowTweet" type="text" label="5012" default="Watching %SHOWNAME%, Season: %SEASON%, Episode: %EPISODENAME%"/> 
  <setting id="TagsTweet" type="text" label="5013" default="on #XBMC Media Center" /> 
  <setting id="StatusTruncation" type="text" label="5014" default="..." />
  
  <setting type="lsep" label="5020" /> 
  <setting id="debug" type="bool" label="5000" default="false" /> 
  
</settings>
